RewriteEngine On    # Turn on the rewriting engine
<IfModule mod_headers.c>
   Header set Access-Control-Allow-Origin "*"
 </IfModule>


RewriteRule ^api([0-9a-zA-Z_-]*)$ project/api.php [NC,L]
RewriteRule ^api/([0-9a-zA-Z_-]*)$ project/read_by_id.php?id=$1 [NC,L]


RewriteRule ^delete/([0-9a-zA-Z_-]*)$ project/delete.php?id=$1 [NC,L]
RewriteRule ^update/([0-9a-zA-Z_-]*)$ project/update.php?id=$1 [NC,L]